<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<style>/* Ajoutez votre propre CSS pour personnaliser l'apparence de l'attestation */</style>
</head>
<body>
	<h1>Attestation de stage</h1>
	<p>Nom :
		{{ nom }}</p>
	<p>Prénom :
		{{ prenom }}</p>
	<p>Sujet :
		{{ sujet }}</p>
	<p>Date de début :
		{{ dateDebut }}</p>
	<p>Date de fin :
		{{ dateFin }}</p>
	<!-- Ajoutez d'autres informations de l'attestation de stage selon vos besoins -->
</body></html>
