{% extends "template.html.twig" %}

{% block title %}
	types des stages
{% endblock %}
{% block PageTitle %}{% endblock %}

{% block body %}

	<form action="{{ path('app_type') }}" method="GET" class="mb-3">
		<div class="input-group">
			<input type="text" name="search" class="form-control" placeholder="Rechercher">
			<button type="submit" class="btn btn-primary">Rechercher</button>
		</div>
	</form>
	<div class="d-flex justify-content-between align-items-center">
		<h2>
			types des stage</h2>
		<a href="{{ path('type_create') }}" class="btn btn-primary">
			<i class="fas fa-plus"></i>
			Créer un type de stage
		</a>

	</div>

	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Type</th>

				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for type in types %}
				<tr>
					<td>{{ type.type }}</td>


					<td>
						{# <a href="{{ path('stagiaire_show', {'id': stagiaire.id}) }}" class="btn btn-info btn-sm" title="Visualiser">
																																																																																																																																											<i class="bi bi-eye-fill"></i>
																																																																																																																																											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewbox="0 0 16 16">
																																																																																																																																												<path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
																																																																																																																																												<path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
																																																																																																																																											</svg>
																																																																																																																																										</a>
																																																																																																																																										<a href="{{ path('stagiaire_edit', {'id': stagiaire.id}) }}" class="btn btn-primary btn-sm" title="Modifier">
																																																																																																																																											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewbox="0 0 16 16">
																																																																																																																																												<path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
																																																																																																																																											</svg>
																																																																																																																																										</a>
																																																																																																																																										<a href="{{ path('stagiaire_delete', {'id': stagiaire.id}) }}" class="btn btn-danger btn-sm" title="Supprimer">
																																																																																																																																											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewbox="0 0 16 16">
																																																																																																																																												<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
																																																																																																																																												<path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
																																																																																																																																											</svg>
																																																																																																																																										</a>
																																																																																																																																				
																																																																																																																																										{# <a href="{{ path('stagiaire_evaluer', {'id': stagiaire.id}) }}" class="btn btn-secondary btn-sm" title="Évaluer">
																																																																																																																																																																																																																																																																																											<i class="bi bi-star-fill"></i>
																																																																																																																																																																																																																																																																																										</a> #}
						#}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
